fun main() {   //inicio

  
  println("Contagem de 0 a 34.000")
  
    for (i in 0..34000) { //vai mostrar o numero de 0 até o número 34.000
      
        
      print(" $i")
 //vai mostrar valor
    }
 
}
